<div class="hero-section"></div>
<div class="content-modern">
  <div class="d-grid gap-5">
    <div>
      <div class="h1 mb-4">Welcome back</div>
    </div>
    <div class="text-center">
      <div class="input-group mb-4">
        <input type="text" class="form-control rounded-pill" placeholder="Email">
      </div>
      <div class="input-group mb-4">
        <input type="text" class="form-control rounded-pill" placeholder="Password">
      </div>
      <div class="text-end mb-4">
        <a href=''>
          Forgot password ?
        </a>
      </div>
      <button type="button" class="btn btn-lg btn-primary rounded-pill w-50">
        Login
      </button>
    </div>
    <div class="text-center">
      Don't have an account ?
      <b routerLink="records">Sign Up</b>
    </div>
  </div>
</div>
