<div class="container">
   <router-outlet></router-outlet>
</div>

<nav class="navbar navbar-dark navbar-expand justify-content-center fixed-bottom bg-primary">
   <ul class="navbar-nav nav-justified w-100 fs-2 text-light">
      <li class="nav-item">
         <i class="bi bi-house" routerLink="home"></i>
      </li>
      <li class="nav-item">
         <i class="bi bi-list" routerLink="record"></i>
      </li>
      <li class="nav-item">
         <i class="bi bi-people" routerLink="friends"></i>
      </li>
      <li class="nav-item">
         <i class="bi bi-person-circle" routerLink="account"></i>
      </li>
   </ul>
</nav>