<nav class="navbar navbar-expand justify-content-center fixed-bottom bg-gray p-0">
  <ul class="navbar-nav nav-justified w-100">
    <li class="nav-item">
      <button class="btn bg-transparent">
        <i class="bi bi-house h4" routerLink="home"></i>
        <div>
          <small>Home</small>
        </div>
      </button>
    </li>
    <li class="nav-item">
      <button class="btn bg-transparent">
        <i class="bi bi-list h4" routerLink="records"></i>
        <div>
          <small>Records</small>
        </div>
      </button>
    </li>
    <li class="nav-item">
      <button class="btn bg-transparent">
        <i class="bi bi-people h4" routerLink="friends"></i><br>
        <div>
          <small>Friends</small>
        </div>
      </button>
    </li>
    <li class="nav-item">
      <button class="btn bg-transparent">
        <i class="bi bi-person-circle h4" routerLink="account"></i>
        <div>
          <small>Account</small></div>
      </button>
    </li>
  </ul>
</nav>
