<div class="bg-gradiant-blue">
  <div class="hero-section"></div>
  <div class="content-modern">
    <div class="d-grid gap-5">
      <div class="d-flex mb-4">
        <img src="/assets/profile-default.webp" alt="" style="width: 50px; height: 50px" class="rounded-circle shadow" />
        <p class="m-3 h5 d-flex align-items-center">Hello, Username!</p>
      </div>
      <div class="mb-4">
        <div class="h1 mb-4">Overview</div>
        <div class="p-3 bg-gray rounded-4 shadow">
          <table class="w-100">
            <tr>
              <th colspan="2">
                <apx-chart
                  [series]="chartOptions.series"
                  [chart]="chartOptions.chart"
                  [legend]="chartOptions.legend"
                  [plotOptions]="chartOptions.plotOptions"
                  [fill]="chartOptions.fill"
                  [grid]="chartOptions.grid"
                  [stroke]="chartOptions.stroke"
                  [tooltip]="chartOptions.tooltip"
                ></apx-chart>
              </th>
            </tr>
            <tr>
              <td>
                <div class="text-start">
                  <p class="h4 mb-3">Loans</p>
                  <p class="mb-2">150.00 $</p>
                </div>
              </td>
              <td>
                <div class="text-end">
                  <p class="h4 mb-3">Debts</p>
                  <p class="mb-2">100.00 $</p>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="mb-4">
        <app-records-add></app-records-add>
      </div>
      <div class="mb-4">
        <div class="h1 mb-4">Latest</div>
        <div class="p-3 bg-gray rounded-4 shadow">
          <app-records-list></app-records-list>
        </div>
      </div>
    </div>
  </div>
</div>
