<div class="h1 mb-4">New Record</div>
<div class="p-3 bg-gray rounded-4 shadow">
  <img src="/assets/profile-default.webp" alt="avatar2" style="max-width:40%" class="rounded-circle mb-3 mx-auto d-block shadow" />
  <div class="text-center mb-3" ngbDropdown placement="bottom">
    <button type="button" class="btn btn-gradiant-purple rounded-pill w-50" ngbDropdownToggle>
      Select Friend
    </button>
    <div class="w-100 p-3 bg-gray rounded-4" ngbDropdownMenu aria-labelledby="dropdownfriends">
      <app-friends-list></app-friends-list>
    </div>
  </div>
  <div class="text-center">
    <div class="input-group mb-3">
      <input type="text" class="form-control rounded-pill" placeholder="Title">
    </div>
    <div class="input-group mb-4">
      <input type="text" class="form-control rounded-pill" placeholder="Amount">
    </div>
    <button type="button" class="btn btn-lg btn-gradiant-purple rounded-pill w-50">
      Add
    </button>
  </div>
</div>
