  <div class="hero-section"></div>
  <div class="content-modern">
    <div class="d-grid gap-5">
      <div class="mb-4">
        <div class="h1 mb-4">Records</div>
        <div class="p-3 bg-gray rounded-4">
          <div class="d-flex justify-content-center mb-3">
            <div class="form-outline me-5">
              <input type="search" class="form-control rounded-pill" placeholder="Search"/>
            </div>
            <button type="button" class="btn btn-gradiant-purple rounded-pill">
              <i class="bi bi-funnel-fill"></i>
            </button>
          </div>
          <div class="mt-4">
            <app-records-list></app-records-list>
          </div>
        </div>
      </div>
    </div>
  </div>
