<div class="card bg-light border no-border shadow">
   <div class="card-body">
      <div class="card-title mb-3 h2 text-center">Records</div>
      <div class="d-flex justify-content-center mb-3">
         <div class="input-group w-75">
            <input type="search" class="form-control" placeholder="Search"/>
            <button type="button" class="btn btn-primary">
               <i class="bi bi-search"></i>
            </button> 
         </div> 
      </div>
      <div class="input-group justify-content-center">
         <div class="d-inline-block">
            <div class="input-group" ngbDropdown placement="bottom-end">
               <button type="button" class="btn btn-outline-info">Loan</button>
               <button type="button" class="btn btn-outline-danger">Debt</button>
               <button type="button" class="btn btn-outline-primary">All</button>
               <button type="button" class="btn btn-primary" ngbDropdownToggle>
                  <i class="bi bi-filter"></i>
               </button>
               <div ngbDropdownMenu aria-labelledby="dropdownrecords">
                  <button ngbDropdownItem>Latest</button>
                  <button ngbDropdownItem>Oldest</button>
                  <button ngbDropdownItem>Highest</button>
                  <button ngbDropdownItem>Lowest</button>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="card-footer">
      <app-records-list></app-records-list>
   </div>
</div>
