@import 'bootstrap/scss/bootstrap';
@import "~bootstrap-icons/font/bootstrap-icons.css";

html, body
{
   padding: 5px 0px 40px 0px;
   background-image: linear-gradient(to bottom,#ebeaea, #d7d7d7);
   background-attachment: fixed;
}
