<div class="d-grid gap-3">

   <div class="card bg-light mb-1 border no-border shadow-sm">
      <div class="card-header h1">Overview</div>
      <div class="card-body">
         <p>Your debt:
         <p>Your debt:
         <div class="row text-start">
            <div class="col">
               50%
            </div>
            <div class="col text-end">
               50%
            </div>
         </div>
         <div class="progress" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 50%"></div>
            <div class="progress-bar bg-danger" role="progressbar" style="width: 50%"></div>
         </div>
      </div>
   </div>

   <div class="card bg-light mb-1 border no-border shadow-sm">
      <div class="card-header h1">New debt</div>
      <div class="card-body">
         <div class="btn btn-primary mb-3">Select person</div> 
         <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Title" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Amount" aria-describedby="basic-addon1">
          </div>
          <div class="btn btn-primary w-100">Add</div>   
      </div>
   </div>

   <div class="card bg-light mb-1 border no-border shadow-sm">
      <div class="card-header h1">Latest added</div>
      <div class="card-body">
         <ul>
            <li>
               Element 1
            </li>
            <li>
               Element 2
            </li>
            <li>
               Element 3
            </li>
         </ul>
         <div class="btn btn-primary w-100">More</div>
      </div>
   </div>

</div>
